<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Department</th>
        <th>Vehicle</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let el of service.employeeList">
        <td>{{el.FirstName}} {{el.LastName}}</td>
        <td>{{el.Type}}</td>
        <td>{{el.Department}}</td>
        <td><input type="checkbox" disabled="true" [ngModel]="el.TwoWheeler">Two Wheeler <br> 
            <input type="checkbox" disabled="true" [ngModel]="el.FourWheeler">Four Wheeler</td>
        <td><i class="fas fa-edit text-primary" (click)="populateForm(el)"></i></td>
        <td><i class="fas fa-trash-alt text-danger" (click)="onDelete(el.Code)"></i></td>
    </tr>
</table>